{% load i18n %}
<tr style='background-color: {% cycle "white" "#f0f0f0" %};'>
    <td scope="row">
        <a href="{% url 'offer-update' offer.id %}" style="position: absolute;">
            <i class="fa fa-edit"></i>
        </a>
    </td>
    <td>
        <a href="{% url 'offer-detail' offer.id %}" class="dev-agent-link">
            {{ offer.title }}
        </a>
    </td>
    <td>
        {{ offer.status_display }}
    </td>
    <td>
        {{ offer.company.name }}
    </td>
    <td>
        {% if offer.latest_step %}
            <a href="{% url 'step-update' offer.latest_step.id %}" style="">
                <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'step-detail' offer.latest_step.id %}" class="dev-agent-link">
                {{ offer.latest_step.type }}
            </a>
        {% else %}
            <span>-</span>
        {% endif %}
    </td>
    <td>
        {% if offer.latest_step %}
            {{ offer.latest_step.get_status_display }}
        {% else %}
            <span>-</span>
        {% endif %}
    </td>
    <td>
        {% include "manager/segments/offer_nav_buttons.html" %}
    </td>
</tr>
