{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="login_form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Logowanie</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="dirty-button btn" type="submit" id="log_in_button">Zaloguj się!</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Skleroza dopadła i nie pamiętasz hasła?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Nie masz jeszcze konta? <a class="ml-2" href="{% url 'register' %}">Zarejestruj się!</a>
            </small>
        </div>
    </div>
{% endblock content %}
