{% extends "main/base.html" %}
{% load crispy_forms_tags i18n %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% translate "Register" %}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="dirty-button btn" type="submit">{% translate "Sign up" %}!</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% translate "Already have account" %}? <a class="ml-2" href="{% url 'login'%}">{% translate "Log in" %}!</a>
            </small>
        </div>
    </div>
{% endblock content %}
