{% load i18n static %}
<!doctype html>
<html>

<head>
    <title>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div style="">
    <p>
        {% blocktranslate %}
        You're receiving this email because you requested
        a password reset for your user account at {{ site_name }}.
        {% endblocktranslate %}
    </p>
    <p>
        {% translate "Please go to the following page and choose a new password" %}:
    </p>
    <p>
        {% block reset_link %}
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                {{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
            </a>
        {% endblock %}
    </p>
    <p>
        {% translate "Remember to use your email as the username" %}: {{ user.get_username }}
    </p>
    <p>
        {% translate "Thanks for using our site" %}!
    </p>
    <p>
        {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
    </p>
</div>
</body>

</html>
