{% load i18n %}
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'homepage' %}">Dev Agent</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'about-page' %}">{% translate "About" %}</a>
          {% if request.user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'company-list' %}">{% translate "Companies" %}</a>
            <a class="nav-item nav-link" href="{% url 'company-create' %}">{% translate "Add company" %}</a>
            <a class="nav-item nav-link" href="{% url 'offer-list' %}">{% translate "Offers" %}</a>
            <a class="nav-item nav-link" href="{% url 'offer-create' %}">{% translate "New offer" %}</a>
          {% endif %}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            {% if request.user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'profile' %}">{% translate "Profile" %}</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">{% translate "Logout" %}</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">{% translate "Login" %}</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">{% translate "Register" %}</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>